/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#ffffff 2px, transparent 2px), radial-gradient(#ffffff 2px, #000000 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #212020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
}

h1, h2 {
    margin-bottom: 10px;
    color: #eaeaea;
}

p {
    margin-bottom: 20px;
    color: #eaeaea;
}

a {
    color: #007bff;
}

/* Profile picture style */
.profile-pic {
    max-width: 200px;
    height: 100px;
    display: block;
    align-items: center;
    float: right;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 20px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
